<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.CommentMapper">

    <!-- 查询讨论的评论 -->
    <select id="selectCommentsByDiscussionId" resultType="CommentDTO">
        select comment.comment_id,comment.comment_content,comment.comment_date,student.student_name,student.student_avatar
        from comment,student
        where comment.student_id = student.student_id
        and comment.discussion_id = #{discussion_id};
    </select>

</mapper>