<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.CourseMapper">

    <!-- 根据教师id查询课程 -->
    <select id="selectCourseByTeacherId" resultType="CourseDTO">
        select
        course.course_id,course.teacher_id,teacher.teacher_name,course.course_name,course.course_cover,course.course_status

        from course,teacher

        where course.teacher_id = teacher.teacher_id
        and teacher.teacher_id = #{teacher_id}

        <if test="status != 0">
            and course.course_status = #{status}
        </if>

        limit #{start},#{size};
    </select>


    <!-- 根据学生id查询课程 -->
    <select id="selectCourseByStudentId" resultType="CourseDTO">
        select course.course_id,teacher.teacher_id, teacher.teacher_name, course.course_name, course.course_cover,course.course_status
        from teacher,course
        where teacher.teacher_id = course.teacher_id
        <if test="status != 0">
            and course.course_status = #{status}
        </if>
        and course.course_id = any (
            select course_id
            from class
            where class_id = any(
                select class_id
                from student_class
                where student_id = #{student_id}
            )
        )
        limit #{start}, #{size};
    </select>


    <!-- 根据课程id查询课程 -->
    <select id="findByCourseId" resultType="CourseDTO">
        select course.course_id,course.course_name,course.teacher_id,teacher.teacher_name,course.course_cover
        from course,teacher
        where course.teacher_id = teacher.teacher_id and course.course_id=#{course_id};
    </select>


    <!-- 修改课程 -->
    <update id="updateCourse">
        update course
        <set>
            <if test="course_name != null">course_name=#{course_name},</if>
            <if test="course_cover != null">course_cover=#{course_cover},</if>
            <if test="course_status != null">course_status=#{course_status}</if>
        </set>
        where course_id=#{course_id} and teacher_id = #{teacher_id}
    </update>


    <!-- 查询课程的学生人数 -->
    <select id="countStudent" resultType="int">
        select count(*) from student_class
        where class_id in (
            select class_id from class
            where course_id = #{course_id}
        );
    </select>

</mapper>