<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.DiscussionMapper">

    <!-- 根据学时id查询课堂讨论 -->
    <select id="selectByCourseId" resultType="DiscussionDTO">
        select d.discussion_id, d.discussion_title, d.discussion_content, d.discussion_date, t.teacher_name, t.teacher_avatar
        from discussion d, course c, teacher t
        where d.course_id = c.course_id and c.teacher_id = t.teacher_id
        and c.course_id = #{course_id};
    </select>


    <!-- 根据讨论id查询讨论 -->
    <select id="selectDiscussionByDiscussionId" resultType="DiscussionDTO">
        select d.discussion_id, d.discussion_title, d.discussion_content, d.discussion_date, t.teacher_name, t.teacher_avatar
        from discussion d, course c, teacher t
        where d.course_id = c.course_id and c.teacher_id = t.teacher_id
        and d.discussion_id = #{discussion_id};
    </select>

</mapper>