<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.EvaluationMapper">
    <insert id="issue">
        insert into student_evaluate(student_id,evaluation_id) values(#{student_id},#{evaluation_id});
    </insert>
</mapper>