<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.PeriodMapper">

    <!-- 修改学时 -->
    <update id="updatePeriod">
        update period
        <set>
            <if test="period_name != null">period_name=#{period_name},</if>
            <if test="period_content != null">period_content=#{period_content},</if>
            <if test="period_type != null">period_type=#{period_type},</if>
            <if test="period_status != null">period_status=#{period_status}</if>
        </set>
        where period_id=#{period_id}
    </update>

</mapper>