<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.PeriodTestMapper">

    <!-- 发布 -->
    <update id="issue">
      update period_test
      set period_test_status = 1
      where period_test_id = #{period_test_id};
    </update>
</mapper>