<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.PeriodEvaluateMapper">


    <!-- 查询学时评价 -->
    <select id="selectEvaluations" resultType="EvaluationDTO">
        select s.student_name, s.student_id, s.student_avatar, pe.period_id, pe.period_id, pe.period_evaluate_content, pe.period_evaluate_date, pe.period_evaluate_degree, pe.period_evaluate_quality
        from student s,period_evaluate pe
        where s.student_id = pe.student_id
        and pe.period_id = #{period_id};
    </select>


    <!-- 查询平均分数 -->
    <select id="selectAvg" resultType="map">
        select avg(period_evaluate_degree) as avg_degree, avg(period_evaluate_quality) as avg_quality
        from period_evaluate
        where period_id = #{period_id};
    </select>

</mapper>