<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.WeekMapper">

    <!-- 修改周 -->
    <update id="updateWeek">
        update week
        set week_name = #{week_name}
        where week_id = #{week_id};
    </update>


    <!-- 查询weekDTO -->
    <select id="selectWeekDTO" resultType="WeekDTO">
        select week_id, week_name, week_status
        from week
        where course_id = #{course_id};
    </select>


    <select id="selectWeekMissionDTO2" resultType="WeekMissionDTO2">
        select week_mission.week_mission_id, week_mission.week_mission_name, week_mission.week_mission_content, week_mission.week_mission_status, week.week_id, week.week_name
        from week_mission, week
        where week_mission.week_id = week.week_id
        and week.week_id = #{week_id};
    </select>


    <select id="selectMissionById" resultType="WeekMissionDTO2">
        select week_mission_id, week_mission_name, week_mission_content
        from week_mission
        where week_mission_id = #{week_mission_id};
    </select>

    <select id="countMissionViews" resultType="int">
        select count(*)
        from student_view_mission
        where week_mission_id = #{week_mission_id};
    </select>


    <insert id="viewMission">
        INSERT INTO student_view_mission (`week_mission_id`, `student_id`) VALUES (#{week_mission_id},#{student_id});
    </insert>


</mapper>